
    <div class="row container">
        <div class="large-12 columns content introscreen">
        	<h4>Welcome to Numscovery!</h4><br />
        	<h5>Here's how to play:</h5>
	          <ol>
		          <li><span>1 </span><p>Choose your game settings and <strong>start the game</strong></p></li>
		          <hr />
		          <li><span>2 </span><p>Find all the numbers in order <strong>starting from 1</strong>.</p></li>
		          <hr />
		          <li><span>3 </span><p>"Next Up" will tell you what to look for. <strong>Click and drag</strong> to move the numbers.</p></li>
					<hr />
		          <li><span>4 </span><p>When you found a target number, <strong>double-click</strong> on it and it will change into another color.</p></li>
		          <hr />
		          <li><span>5 </span><p>Keep an eye on your lives and the timer. If you double-click the wrong number too many times or the clock runs out, you lose.</p></li><br />
		          <p><strong>Side note:</strong> the 9 and 99 are in yellow, so you don't confuse them with 6's and yell at us. ^_^</p>

			</ol>
	          
      </div>
      <div class="large-4 large-centered columns">
          <a href="#settings" class="large button expand start">Let's Get Started</a>
      </div>
  </div>


