<div class="row container">
    <div id="scores">
        <div class="scoreContainer">
            <h3>Scores coming soon!!! ^_^</h3>
            <p>Right now, let's just assume that YOU have the HIGHEST SCORE!</p>
            <p>Congratulations, you are so awesome!!!</p>
            <ul>
                <li>Name</li>
                <li>Lives</li>
                <li>Timer</li>
            </ul>
        </div>

        <!--<script id="scoresTemplate" type="text/template">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </script>-->
    </div>
</div>