<div class="row container">
    <div class="large-12 columns content">
      <h2>Ready to play numscovery?</h2>
      <div class="large-9 columns options first-options">
        <div class="button-bar">
          <h4>Difficulty Level</h4>
          <ul class="button-group radius font difficultyButtons">
            <li class="level"><a href="#" id='wimpy' class="small button">Wimpy</a></li>
            <li class="level"><a href="#" id='medium' class="small button">Medium</a></li>
            <li class="level"><a href="#" id='murderous' class="small button">Murderous</a></li>
          </ul>
        </div>
      </div>
      <h3 class="myoptions">Choose your own settings</h3>
      <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
          <label class="onoffswitch-label" for="myonoffswitch">
              <div class="onoffswitch-inner"></div>
              <div class="onoffswitch-switch"></div>
          </label>
      </div>
      <div class="row showView">
          <div class="large-6 columns options limit">
            <label for="time">How many numbers do you want to find?</label><br/>
            <select id="range" name="forrange" title="Please select something!" validate="required:true" required>
              <option value="">Choose your range</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>

          <div class="large-6 columns options timer">
            <label for="time">Timer</label><br/>
            <select id="time" name="fortime" title="Please select something!" validate="required:true" required>
              <option value="">Choose your time</option>
              <option value="5">5 sec</option>
              <option value="60">1 minute</option>
              <option value="120">2 minute</option>
              <option value="300">5 minute</option>
              <option value="600">10 minute</option>
              <option value="1200">20 minute</option>
            </select>
          </div>
          
        </div>
      </div>
        <div class="row">
          <div class="large-12 large-centered columns submitContainer">
              <a id="settingSubmit" class="large expand start submit">Choose your settings</a>
          </div>
        </div>

    </div>
</div>





